<form action="<%= url %>" method="post" name="edit">
  <fieldset>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="<%= post.title %>" placeholder="title" class="span5" />
    <% if post.created_at %>
    <div class="control-group error">
      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" id="change_slug" name="change_slug" value="true">
          <span class="help-inline">If you want to change this blog's url to some to title,just check it.</span>
        </label>
      </div>
    </div>
    <% end %>
    <label for="tags">Tags</label>
    <input type="text" id="tags" name="tags" value="<%= post.tags %>" placeholder="Tags" class="span3" />
    <span class="text-info">Split by space</span>
    <label for="content">Content</label>
    <textarea class="input-block-level" id="content" name="content" rows="18" placeholder="Content"><%= post.content %></textarea>
    <% if post.created_at %>
    <span class="help-block">Created at:&nbsp;<%= post.created_at %></span>
    <% end %>
    <label for="format">Format</label>
    <select name="format">
      <option <% if !post.format || post.format == "txt" %>selected="selected"<% end %> value="txt">Plain Text</option>
      <option <% if post.format == "markdown" %>selected="selected"<% end %> value="markdown">Markdown</option>
      <option <% if post.format == "textile" %>selected="selected"<% end %> value="textile">Textile</option>
    </select>
    <% if post.created_at %>
      <label><strong>Delete?</strong></label>
      <div class="control-group error">
        <div class="controls">
          <label class="checkbox inline">
            <input type="checkbox" id="delete_status" name="delete_status" value="true" <% if post.delete? %> checked="checked" <% end %>>
            <span class="help-inline">If you want to change this blog's url to some to title,just check it.</span>
          </label>
        </div>
      </div>
    <% end %>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Save</button>
      <% if post.created_at %>
        <a href="<%= post.url %>" class="btn">Back</a>
      <% else %>
        <button type="reset" class="btn">Reset</button>
      <% end %>
    </div>
  </fieldset>
</form>
