<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= Blog.title %></title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/customize.css" rel="stylesheet" type="text/css" />
    <link href="/feed" rel="alternate" title="Primary Feed" type="application/atom+xml" />
  </head>
  <body>
    <%= erb :"partial/navbar" %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="page-header">
            <h2><%= Blog.title %></h2><p><%= Blog.subtitle %></p>
          </div>
          <div class="row-fluid">
            <div class="span9 content">
              <%= yield %>
              <%= erb :"partial/disqus_num_replies" %>
              <%= paginate(posts) %>
            </div>
            <div class="span3">
              <div class="well">
                <a href="/archive">Archive</a>
                <ul>
                <% dates.each do |key, value| %>
                  <li><a href="/<%= key %>"><%= value %></a></li>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <%= erb :"partial/footer" %>
  </body>
</html>
