<div class="page-header">
  <h1>Posts tagged <span class="tagged"><%= tag %></span></h1>
</div>
<div class="row-fluid">
  <div class="span10">
    <% posts.each do |post| %>
      <div class="post">
        <div class="post-header">
          <h2 class="post-title">
            <a href="<%= post.url %>"><%= post[:title] %></a>
          </h2>
          <p class="post-meta">
            <%= post.show_create_at %>&nbsp;|&nbsp;<small>Posted in</small> <%= post.linked_tags %>
            <% if Blog.disqus_shortname %>
             &nbsp;|&nbsp;<a href="<%= post.url %>#disqus_thread">comments</a>
            <% end %>
          </p>
        </div>
        <div class="post-content">
          <%= post.summary_html %>
          <% if post.more? %>
            <a href="<%= post.url %>">Continue reading &raquo;</a>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= paginate(posts, :tag => tag) %>
  </div>
</div>
